@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");


:root {
  --background: #efe1f4;
  --foreground: #13012d;
  --body-font: "Bai Jamjuree", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #13012d;
    --foreground: #efe1f4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--body-font);
}
